<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iServe.Models.Properties.Settings.iServeConnectionString"
            connectionString="Data Source=devdb.dev.corp.local,65316;Initial Catalog=iServe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>